## Tabla modalidades

In [46]:
import pandas as pd
import sqlite3

In [47]:
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

In [48]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS modalidades (
    id SERIAL PRIMARY KEY,
    modalidad VARCHAR(100) NOT NULL
)
''')

## Tablas verticales

In [50]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS verticales (
    id SERIAL PRIMARY KEY,
    verticales TEXT
)
''')

## Tabla calificaciones

In [51]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS calificaciones (
    id SERIAL PRIMARY KEY,
    alumno_id INTEGER,
    proyecto_id INTEGER,
    calificacion TEXT,
    FOREIGN KEY (alumno_id) REFERENCES alumnos(id),
    FOREIGN KEY (proyecto_id) REFERENCES proyectos(id)
)
''')
conn.commit()

## Tabla profesores

In [52]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS profesores (
    id SERIAL PRIMARY KEY,
    nombre TEXT,
    rol_id VARCHAR,
    bootcamp_id INTEGER,
    modalidad_id INTEGER,
    FOREIGN KEY (rol_id) REFERENCES roles_profesores(id),
    FOREIGN KEY (bootcamp_id) REFERENCES bootcamps(id),
    FOREIGN KEY (modalidad_id) REFERENCES modalidad(id)
)
''')
conn.commit()

## Tabla proyectos

In [53]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS proyectos (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    vertical_id TEXT,
    FOREIGN KEY (vertical_id) REFERENCES verticales(id)
)
''')
conn.commit()

## Tabla alumnos

In [54]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS alumnos (
    id SERIAL PRIMARY KEY,
    nombre TEXT,
    email TEXT,
    bootcamp_id INTEGER,
    fecha_comienzo DATE,
    aula INTEGER,
    FOREIGN KEY (bootcamp_id) REFERENCES bootcamps(id)
)
''')
conn.commit()

## Tabla bootcamp

In [55]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS proyectos (
    id SERIAL PRIMARY KEY,
    nombre TEXT,
    vertical_id TEXT,
    FOREIGN KEY (vertical_id) REFERENCES verticales(id)
)
''')
conn.commit()

## Tabla roles profesores

In [56]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS roles_profesores (
    id SERIAL PRIMARY KEY,
    rol TEXT
)
''')

## Tabla campus

In [58]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS campus (
    id SERIAL PRIMARY KEY,
    campus TEXT
)
''')

## Tabla promociones

In [59]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS promociones (
    id SERIAL PRIMARY KEY,
    promocion TEXT
)
''')